<%= for contract <- @contracts do %>
    <center>

    <br>
    <b>Contract Name: </b><%= contract.name %>
    <br>
    <b>Contract Description: </b><%= contract.description %>
    <br>
    <b>Contract Type: </b><%= contract.contract_types.name %>
    <br>
    <b>Source Code: </b>
    <a href="<%= contract.code_url %>" target="_blank">
        <%= contract.code_url %>
    </a>
    </center>
<% end %>
