<center>
    <div class="component">
        <image src="<%= Routes.static_path(@socket, "/images/" <> @img_resource.img_source) %>"
    </div>
    <br>
    <br>
    <b>Resource ID: </b><%= @img_resource.unique_id %>
    <br>
    <b>Resource Name: </b><%= @img_resource.name %>
    <br>
    <b>Resource Description: </b><%= @img_resource.description %>
    <br>


</center>
