<center>
    <div class="component">
        <image src="<%= Routes.static_path(@socket, "/images/" <> @img_resource.img_source) %>"
    </div>
    <br>
    <br>
    <b>资源唯一编号: </b><%= @img_resource.unique_id %>
    <br>
    <b>资源名称: </b><%= @img_resource.name %>
    <br>
    <b>资源描述: </b><%= @img_resource.description %>
    <br>


</center>
